.container-snippet{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    grid-gap: 1%;
}
.container-snippet figure{
    margin: 0;
}
.container-snippet figure figcaption{
    text-align: center;
}